{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contacts{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/hello/contacts.css' %}" media="screen, projection"/>
{% endblock extra_head %}

{% block content %}
<div class="parent mt-2 ml-3">
    <div id="left">
        <p class="font-weight-bold">Info
            <hr>
        </p>
        <p>Name: {{ object.name }}</p>
        <p>Last Name: {{object.last_name}}</p>
        <p>Birth: {{object.date_of_birth}}</p>
        <p>Bio: {{object.bio}}</p>
    </div>
    <div id="right">
        <p class="font-weight-bold">Contacts
            <hr>
        </p>
        <p>Email: {{ object.email }}</p>
        <p>Jabber: {{object.jabber }}</p>
        <p>Skype: {{ object.skype }}</p>
        <p>Other contacts: {{ object.other }}</p>
    </div>
</div>

{% endblock content %}