{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contacts{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/hello/contacts.css' %}" media="screen, projection"/>
{% endblock extra_head %}

{% block content %}
<div class="parent mt-2 ml-3">
    <div id="left">
        <p class="font-weight-bold">Info
            <hr>
        </p>
        <p>Name: {{ developer.name }}</p>
        <p>Last Name: {{developer.last_name}} </p>
        <p>Birth: {{ developer.date_of_birth }} </p>
        <p>Bio: {{ developer.bio }} </p>
    </div>
    <div id="right">
        <p class="font-weight-bold">Contacts
            <hr>
        </p>
        <p>Email: {{ developer.email }}</p>
        <p>Jabber: {{ developer.jabber }}</p>
        <p>Skype: {{ developer.skype }}</p>
        <p>Other contacts: {{ developer.other }}</p>
    </div>
</div>

<div class="requests_div mt-2 ml-3">
    <p class="font-weight-bold">Requests</p>
    <hr>
</div>

{% endblock content %}